#div1{
	margin-left: auto;
	margin-right: auto;
	width: 70%;
	background-color: lightblue;
	padding: 5px 8px 5px;
}
h2{
	text-align: center;
}
#div2{
	margin-left: auto;
	margin-right: auto;
	width: 85%;
}